body{
    font-family: "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #fff;
    display:flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    max-width: fit-content;
    margin: auto;
}

form{
    padding: 1em;
    background-color: #ccc;
    align-items: center;
}

input {
    padding: 0.5em;
    margin: 0.5em;
    color: #333;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}