<html>
<head>
    <title>EntrySound Configuration</title>

    <!-- Importing Icon and CSS -->
    <link rel="icon" type="image/x-icon" href="localhost/media/ES.ico">
    <link rel="stylesheet" href="/stylesheet">
    <style> * {box-sizing: border-box;} </style>
</head>

<body>
    <!-- Main Webpage -->
    <h1 class="headtext">Sound Server Config</h1>
    <section>
        <leftbar>
            <p>Willkommen! Bitte lade hier eine Audio Datei hoch. Diese wird abgespielt wenn du dich mit dem Netzwerk verbindest.</p>
        
        </leftbar>
        <mainwindow>
            <p>Bitte lade hier die Datei hoch.</p>
            <p id="whois">Du bist </p>
            <form action='/uploader' method="POST" enctype= "multipart/form-data">   
                <input type="text" id="name" name="name">
                <input type="file" id="upload" name="file" accept=".mp3">
                <input type="submit">
                <p style="font-size:70%; color:lightslategrey;"><i>Akzeptierte Formate: mp3</i></p>
            </form>        
            
        </mainwindow>
    
    </section>

    <!-- Including JQuery and javascript code -->
    <script src="/jquery"></script>
    <script src="/findhost"></script>

</body>
</html>