<html>
<head>
    <title>EntrySound Configuration</title>

    <!-- Importing Icon and CSS -->
    <link rel="icon" type="image/x-icon" href="localhost/media/ES.ico">
    <link rel="stylesheet" href="/stylesheet">
    <style> * {box-sizing: border-box;} </style>
</head>

<body class="gradientbg">
    <!-- Main Webpage -->
    <h1 class="headtext">EntrySound Configuration</h1>
    <section>
        <leftbar>
            <p>Willkommen! <br>Bitte lade hier eine mp3 Datei hoch die abgespielt werden soll, <br>wenn sich dein Gerät mit dem WLAN Verbindet.</p>
        
        </leftbar>
        <mainwindow>
            <p>Bitte lade hier die Datei hoch.</p>
            <P> Du bist </p>
            <form action='/uploader' method="POST" enctype= "multipart/form-data">   
                <input type="text" id="name" name="name">
                <input type="file" id="upload" name="file" accept=".mp3">
                <input type="submit">
            </form>        
            <p style="font-size:70%; color:lightslategrey;"><i>Akzeptierte Formate: mp3</i></p>
        </mainwindow>
    
    </section>

    <!-- Including JQuery and javascript code -->
    <script src="/jquery"></script>
    <script src="/findhost"></script>

</body>
</html>